{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shopping Cart</h1>
    <form action="{{ path('order') }}">
        {% for p in cart %}
            <input type="text" name="cart" value="{{ p.id }}" size="2">
            <b>Model: </b> {{ p.model }}
            <b>Price: </b> {{ p.price }}
            <label><b>Quantity: </b><input type="number" id="qty" name="[quantity]" {# {{ p.id }}]" p.id#}
                        {% if p.quantity is defined %} {# and p.quantity is not empty #}
                            value="{{ p.quantity }}"
                        {% else %}
                            value="1"
                        {% endif %}
                                           min="1" max="5"></label>
            <b>Total: </b><br/>
        {% endfor %}
        <br/>
        <button type="submit">Proceed to Checkout</button>
    </form>
{% endblock %}