{% extends 'base.html.twig' %}

{% block title %} CART {% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="btn btn-warning flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        Cart:
        <ul>
                {% set total = 0 %}
                {% for item in cart %}
                    {% set total = total + item.product.price * item.quantity %}

                    <li class="cart_position">{{ item.product.category ~ ' ' ~ item.product.model }}

                        {{ item.product.price }} * {{ item.quantity }} piece(s)
                        = {{ item.product.price * item.quantity }}
                        <button type="button" onclick="removeFromCart({{ item.product.id }}, this);">remove</button>
                        <a href="{{ path('remove_from_cart',{'product': item.product.id}) }}">Remove</a>
                    </li>
                {% endfor %}
                <b>Total: </b><span id="cart_total"> {{ total }}</span> <br/>
                {% if (total != 0) %}
                    {% include 'cart/order_form.html.twig' %}

                {% endif %}
        </ul>
        <a href="{{ path('category') }}">back to Categories</a>
    </div>

    <script>
        function removeFromCart(productId, el) {
            $.ajax({
                url: "/remove-from-cart/" + productId,
            }).done(function(data) {
                console.log(data);
                $( el ).parent().remove();
                $('#cart_total').text(data.total);

                if (data.total == 0) {
                    $('#order_form').remove();
                }
            });
        }
    </script>
{% endblock %}