<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="KM's online store project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}KM's test{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap4/bootstrap.min.css') }}">
            <link href="{{ asset('plugins/fontawesome-free-5.0.1/css/fontawesome-all.css') }}" rel="stylesheet" type="text/css">
            <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/animate.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('plugins/slick-1.8.0/slick.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('styles/main_styles.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('styles/responsive.css') }}">
        {% endblock %}
    </head>
    <body>
    <div class="super_container">
        {% block body %}
            <!-- Header -->
            {% block header %}
                {% include 'base/partial/header.html.twig' %}
            {% endblock %}

            <!-- Banner -->
            {% block banner %}
                {% include 'base/partial/banner.html.twig' %}
            {% endblock %}

            <!-- Characteristics -->
            {% block characteristics %}
                {% include 'base/partial/characteristics.html.twig' %}
            {% endblock %}

            <!-- Deals of the week -->
            {% block deals_featured %}
                {% include 'base/partial/deals_featured.html.twig' %}
            {% endblock %}

            <!-- Popular Categories -->
            {% block popular_categories %}
                {% include 'base/partial/popular_categories.html.twig' %}
            {% endblock %}

            <!-- Banner -->
            {% block banner_2 %}
                {% include 'base/partial/banner_2.html.twig' %}
            {% endblock %}

            <!-- Hot New Arrivals -->
            {% block new_arrivals %}
                {% include 'base/partial/new_arrivals.html.twig' %}
            {% endblock %}

            <!-- Best Sellers -->
            {% block best_sellers %}
                {% include 'base/partial/best_sellers.html.twig' %}
            {% endblock %}

            <!-- Adverts -->
            {% block adverts %}
                {% include 'base/partial/adverts.html.twig' %}
            {% endblock %}

            <!-- Trends -->
            {% block trends %}
                {% include 'base/partial/trends.html.twig' %}
            {% endblock %}

            <!-- Reviews -->
            {% block reviews %}
                {% include 'base/partial/reviews.html.twig' %}
            {% endblock %}

            <!-- Recently Viewed -->
            {# {% block viewed %}
                {% include 'base/partial/viewed.html.twig' %}
            {% endblock %} #}

            <!-- Brands -->
            {% block brands %}
                {% include 'base/partial/brands.html.twig' %}
            {% endblock %}

            <!-- Newsletter -->
            {% block newsletter %}
                {% include 'base/partial/newsletter.html.twig' %}
            {% endblock %}

            <!-- Footer -->
            {% block footer %}
                {% include 'base/partial/footer.html.twig' %}
            {% endblock %}

            <!-- Copyright -->
            {% block copyright %}
                {% include 'base/partial/copyright.html.twig' %}
            {% endblock %}
        {% endblock %}
    </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('styles/bootstrap4/popper.js') }}"></script>
            <script src="{{ asset('styles/bootstrap4/bootstrap.min.js') }}"></script>
            <script src="{{ asset('plugins/greensock/TweenMax.min.js') }}"></script>
            <script src="{{ asset('plugins/greensock/TimelineMax.min.js') }}"></script>
            <script src="{{ asset('plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
            <script src="{{ asset('plugins/greensock/animation.gsap.min.js') }}"></script>
            <script src="{{ asset('plugins/greensock/ScrollToPlugin.min.js') }}"></script>
            <script src="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
            <script src="{{ asset('plugins/slick-1.8.0/slick.js') }}"></script>
            <script src="{{ asset('plugins/easing/easing.js') }}"></script>
            <script src="{{ asset('js/custom.js') }}"></script>
        {% endblock %}
    </body>
</html>
