{% extends 'base.html.twig' %}

{% block title %}View Orders!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        {#{% if is_granted('ORDER_VIEW', orders) %}#}
        <b>Orders</b><br/>
        <ul>
            {% for o in orders %}
                {% dump(o.orderPosition) %}
                <li><b>{{ o.id }} {{ o.lastName }} {{ o.firstName }}  {{ o.email }} {{ o.createdAt | date('d/m/y  H:i') }}</b></li>
                    <ul>
                        {% for op in o.orderPosition %}
                            <li>{{ op.id }} Price: {{ op.price }} Quantity: {{ op.quantity }} Product ID: {{ op.productId }}</li>
                        {% endfor %}
                    </ul>
            {% endfor %}
        </ul>

        {#        {% else %}
                    <a href="{{path('product_index')}}"> Product Index </a>
                {% endif %}#}

    </div>
{% endblock %}
