{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    {% block back %}
        {{ parent() }}
    {% endblock %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Manufacturer</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>

        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.model }}</td>
                <td>{{ product.manufacturer }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <form action="{{ path('add_to_cart',{'product': product.id}) }}">
                        <input type="number" name="quantity" value="1"
                               min="1" max="5">
                        <button type="submit">Buy</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}