{% extends 'base.html.twig' %}
{% block body %}
    <style type="text/css">
        .divTable {
            display: table;
            width: auto;
            /*background-color: #eee;*/
            /*border: 1px solid #666666;*/
            border-spacing: 5px; /*cellspacing:poor IE support for  this*/
            /* border-collapse:separate;*/
        }

        .divRow {
            display: table-row;
            width: auto;
        }

        .divCell {
            float: left; /*fix for  buggy browsers*/
            display: table-column;
            width: 120px;
            /*background-color: #ccc;*/
        }

        .divCellImage {
            float: left; /*fix for  buggy browsers*/
            display: table-column;
            width: 300px;
            /*background-color: #ccc;*/
        }
    </style>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap4/bootstrap.min.css') }}">
        <link href="{{ asset('plugins/fontawesome-free-5.0.1/css/fontawesome-all.css') }}" rel="stylesheet"
              type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/animate.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('plugins/jquery-ui-1.12.1.custom/jquery-ui.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/shop_styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/shop_responsive.css') }}">
    {% endblock %}
    {% block back %}
        {{ parent() }}
    {% endblock %}
    {% dump(pagination) %}
    <a href="{{ path('selected_category', {'id' : pagination.params.id}) }}"> Single Page version </a>

    <div><strong>{{ 'Category: ' ~ selectedCategory.name }}</strong></div>
    <div class="divTable">
        <div class="headRow">
            <div class="divCell" align="center"> {{ knp_pagination_sortable(pagination, 'Product ID', 'p.id' )|raw }} </div>
            <div class="divCellImage">Product Image</div>
            <div class="divCell">{{ knp_pagination_sortable(pagination, 'Brand', 'c.name' )|raw }}</div>
            <div class="divCell">{{ knp_pagination_sortable(pagination, 'Model', 'p.model' )|raw }}</div>
            <div class="divCell">{{ knp_pagination_sortable(pagination, 'Price', 'p.price' )|raw }}</div>
            <div class="divCell">Quantity</div>
        </div>

        {% for item in pagination.items %}
{% dump(item) %}
            <div class="divRow">
                <div class="divCell" align="center">{{ item.id }}</div>
                <div class="divCellImage">
                    {% set pis = product_images_service.getProductImages(item.id) %}
                    {% for i in range (0,6) %}
                        {% if pis[i] is defined %}
                            <img src={{ '/images/products/' }}{{ pis[i].filepath }}>
                        {% elseif i == 0 %}
                            {{ '-- no image --' }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="divCell">{{ item.name }}</div>
                <div class="divCell">{{ item.model }}</div>
                <div class="divCell">{{ item.price }}</div>
                <div class="divCell">
                    <form action="{{ path('add_to_cart',{'product': item.id}) }}">
                        <input type="number" name="quantity" value="1"
                               min="1" max="5">
                        <button type="submit">Add</button>
                    </form>
                </div>
            </div>
        {% endfor %}

    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}